.my-details {
  // background-color: #F5F5F5;

  .my_setting-item {
    padding: 0 rem(16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: rem(56);
    border-bottom: rem(1) solid #F5F5F5;
    background-color: #FFFFFF;
    position: relative;
  }

  .item-extra-height {
    height: rem(76);
  }

  .item-extra-bottom {
    margin: 0;
    padding: 0 rem(16);
    border-bottom: rem(8) solid #F5F5F5;
  }

  .title-18 {
    font-size: rem(16);
    color: $font-black;
  }

  .my_setting-content {
    font-size: rem(16);
    color: rgba(153, 153, 153, 1);
    line-height: rem(24);

    .my_setting-avatar {
      height: rem(48);
      width: rem(48);
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  .my_setting-more,
  .my_setting-more-special {
    height: rem(14);
    width: rem(7);
    margin-left: rem(12);
    color: #bebebe;
  }

  .my_setting-more-special {
    margin-left: rem(4);
  }

  .my_setting-keep {
    position: fixed;
    bottom: rem(0);
    left: rem(0);
    padding: rem(10) rem(0);
    width: 100%;
    text-align: center;
    font-size: rem(14);
    background: rgba(44, 218, 147, 1);
    color: #ffffff;
  }
}

.line-gray {
  height: rem(8);
  color: #f5f5f5;
}

.van-field__label {
  font-size: rem(16);
  color: $font-black;
}

.van-cell {
  font-size: rem(16);
  color: #999999;
  line-height: rem(36);
}